*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 120vh;
    font-family: sans-serif;
    /* background: rgb(49,49,196); */
background: linear-gradient(180deg, rgba(49,49,196,1) 15%, rgba(0,212,255,1) 100%);
}

.app{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.cards{
    display: flex;
    width: max-content;
    overflow-x: auto;
}

.new-card span{
    background-color: wheat;
    padding: 1rem;
    display: flex;
    gap: .7rem;
    align-items: center;
    margin: 1rem;
    width: 19rem;
    border-radius: .3rem;
    cursor: pointer;
}

.new-card span:hover{
    background-color: #ebecf0;
}

.new-card svg{
    width: 1rem;
}